@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-columns">
@foreach (var product in Model.Products)
 {
    <div class="card">
        <div class="card-img" style=" background-image : url('@product.Image');"></div>
        <div class="card-body ">
            @product.Id<br>
            @product.Maker<br>
            @product.Url<br>
            @product.Title<br>
            @product.Description
        </div>
    </div>
        }
    </div>

          